.nav-container {
  background-color: blue;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-container img {
  width: 50px;
}
.nav-elements {
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;
}
nav ul li > a {
  color: white;
  text-decoration: none;
}
.section1,
.section2,
.section3 {
  margin: 10px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.section1 {
  border: 2px solid red;
  background-color: aqua;
}
.section2 {
  border: 2px solid #1900ff;
  background-color: #00ff55;
}
.section3 {
  border: 2px solid #ff00c8;
  background-color: #001aff;
}
.section1 h2 {
  color: red;
  font-size: 30px;
}
.section1 p {
  font-size: 20px;
  color: #7c3320;
}
.section2 h2 {
  color: #3700ff;
  font-size: 25px;
}
.section2 p {
  font-size: 18px;
  color: #850774;
}
.section3 h2 {
  color: #f700ff;
  font-size: 20px;
}
.section3 p {
  font-size: 16px;
  color: #690d2c;
}
.section1 button,
.section2 button,
.section3 button {
  padding: 10px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
.section1 button {
  color: #ad0707;
  background-color: #3f7ea8;
}
.section2 button {
  color: blue;
}
.section3 button {
  color: coral;
  background-color: black;
}
.section-images {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
.section-images img {
  width: 300px;
  height: 250px;
  padding: 10px;
  border-radius: 30px;
}
